<% provide(:title, "Sign in") %>

<header id="header" class="site-header">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <h1><div class="site-title pull-left"> <%= link_to image_tag("LogoNTL.png"), root_path, id: "logo" %></div></h1>
        <div class="user text-right">
          <ul>
            <li class="user-login" ><%= link_to "Login", new_user_session_path %></li> |
            <li class="user-regidter" ><%= link_to "Registrate", new_user_registration_path %></li>
          </ul>
        </div>
            <div class="text-center" >
              <br>
              <br>
              <h2 style="color: #ffffff; font-weight: 300; font-size: 50px" >¡Únete a NoTeLimites.com hoy!</h2>
              <br>
              <% flash.each do |key, value| %>
                  <div class="alert alert-<%= key %>"><%= value %></div>
              <% end %>
            </div>
            <section>
              <div class="text-center">
                    <%= link_to "Registrate con Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-large btn-primary" %>
              </div>
              <div class="row" >
                <div class="span4 offset4" >
                  <div class="sign-up-divider">
                  </div>
                  <h2 class="text-center" style="color: #ffffff; font-weight: 100" >Ó registrate con tu Email... </h2>
                      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
                          <%= devise_error_messages! %>
                          <div> <%= f.text_field :name, :autofocus => true, :placeholder => "Nombre" %></div>
                          <div><%= f.email_field :email, :autofocus => true, :placeholder => "Email"%></div>
                          <div> <%= f.text_field :username, :placeholder => "Username" %></div>
                          <div><%= f.password_field :password, :placeholder => "Password"%></div>
                          <div> <%= f.password_field :password_confirmation, :placeholder => "Password confirmation" %></div>
                          <div><%= f.hidden_field :avatar, value: "http://imagenes.notelimites.s3.amazonaws.com/users/default_user.png"%></div>
                          <div class="field text-center" ><%= f.submit "Sign up", class: "btn" %></div>
                      <% end %>
                  <div  style="color: #ffffff;">
                    <p>
                      Dándole click a "Sign Up" se considera que estás de acuerdo con los Servicios de NoTeLimites. Por favor toma un tiempo para leer los <%= link_to "Terminos y Condiciones.", terminos_path %>
                    </p>
                    <br>
                    <br>
                    <br>
                  </div>
                </div>
              </div>
            </section>
      </div><!-- /span12 -->
    </div><!-- /row-fluid -->
  </div><!-- /container -->


</header>




