<h1>Micrositios Lista</h1>

<div  id="micrositiocontainer">

<table>
  <thead>
    <tr>
      <th class="micrositiodescripcionlistaaltura">Imagenes</th>
      <th class="micrositiodescripcionlistatitulo">Micrositio</th>
      <th></th>
    </tr>
  </thead>

  <tbody>

    <% @micrositios.each do |micrositio| %>
      <tr >
        <td class="micrositiodescripcionlistaaltura"><%= image_tag micrositio.photo.url(:small) %></td>
        <td class="micrositiodescripcionlista">
        <%= link_to micrositio.name, micrositio %>
        <%= micrositio.descripcion %>
        </td>
        <td>
        <ul>
        <li><%= link_to 'Ver más --->', micrositio %></li>
        <li><%= link_to 'Editar  --->', edit_micrositio_path(micrositio) %></li>
        <li><%= link_to 'Destruir --->', micrositio, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'Nuevo Micrositio', new_micrositio_path %>

</div>