
<section>
  <h3> Selecciona tus preferencias  </h3>
  <ul class="nav nav-tabs nav-pills">

    <li class="<%= 'active' if params[:devise] == 'edit' %>"> <a href="/users/edit">PERFIL</a> </li>
    <li  class=<%= 'active' if params[:user] == 'editestados' %>><a href="/users/seleccionestados">Estados</a></li>
    <li  class=<%= 'active' if params[:user] == 'editactividades' %>><a href="/users/seleccionactividades">Actividades</a></li>
    <li  class=<%= 'active' if params[:user] == 'editlugares' %>><a href="/users/seleccionlugares">Lugares</a></li>
    <li  class=<%= 'active' if params[:user] == 'editusuarios' %>><a href="/users/seleccionusuarios">Usuarios</a></li>

  </ul>
</section>



<section>
  <h3> Selecciona Mínimo un Estado  </h3>
  <%= render 'shared/estados' %>
</section>
