<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>

  <div class="span8">
    <% if @user.eventos.any? %>
        <h3>Eventos (<%= @user.eventos.count %>)</h3>
        <ol class="microposts">
          <%= render @eventos %>
        </ol>
        <%= will_paginate @eventos %>
    <% end %>
  </div>

  <div class="span8">
    <% if @user.micrositios.any? %>
        <h3>Micrositios (<%= @user.micrositios.count %>)</h3>
        <ol class="microposts">
          <%= render @micrositios %>
        </ol>
        <%= will_paginate @micrositios %>
    <% end %>
  </div>
</div>