
<% if signed_in? %>

    <div class="row">
      <section class="menu">
        <p>...................................</p>
        <%=  link_to "Micrositios", controller: "micrositios", action:"index"  %>
        <p>...................................</p>
        <%=  link_to "Eventos", controller: "eventos", action:"index"  %>
        <p>...................................</p>
        <%=  link_to "Estados", controller: "estados", action:"index"  %>
        <p>...................................</p>

      </section>
      <section>

        <% @micrositios.take(10).each do |micrositio| %>
            <% if micrositio.photo_file_size? %>
                <li id="cadaevento">
                  <%= link_to micrositio.name, micrositio %>
                  <%= image_tag micrositio.photo.url(:small) %>
                  <%= micrositio.imagen %>
            <% else %>
                <li id="cadaevento">
                  <%= link_to micrositio.name, micrositio %>
                  <img src="https://s3.amazonaws.com/imagenes.notelimites/micrositios/photos/sitios/big/<%= micrositio.photo_file_name %>"    >
                  <%= micrositio.imagen %>
            <% end %>
        <% end %>
      </section>
    </div>


<% else %>

    <div class="front-overlay-message-wrap">
      <div class="front-overlay-message-container">
        <div class="front-overlay-message-content">
          <h1 class="front-overlay-message">NoTeLimites contiene gran cantidad de lugares y actividades en México</h1>
          <h2 class="front-overlay-message-sub"> Cuentanos tus intereses y nostros te recomendamos los mejores lugares a donde ir y las mejores cosas que hacer
            en México</h2>
           <div class= "btn btn-large btn-primary">
          <%= link_to "Registrate", new_user_registration_path %>
           </div>
        </div>
      </div>
    </div>

    <div class="contenedorpagprincipal">
    </div>
    <div class="footerpagprincipal">
      <div class="container">
        <%= render 'layouts/footer' %>
        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>

<% end %>
