
<% if signed_in? %>

    <div class="row">
      <section class="menu">
        <p>...................................</p>
        <%=  link_to "Micrositios", controller: "micrositios", action:"index"  %>
        <p>...................................</p>
        <%=  link_to "Eventos", controller: "eventos", action:"index"  %>
        <p>...................................</p>
        <%=  link_to "Estados", controller: "estados", action:"index"  %>
        <p>...................................</p>

      </section>


      <aside class="span4">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/stats' %>
        </section>
        <section>
          <%= render 'shared/micropost_form' %>
        </section>
      </aside>
      <div class="span8">
        <h3>Micropost Feed</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>


    <div class="fb-like" data-href="https://www.facebook.com/NoTeLimites" data-width="The pixel width of the plugin" data-colorscheme="light" data-layout="standard" data-action="like" data-show-faces="true" data-send="false"></div>

    <div class="fb-comments" data-href="http://notelimites.com" data-numposts="10"></div>

    <a class="twitter-timeline" href="https://twitter.com/NTLmx" data-widget-id="387472701780004866">Tweets por @NTLmx</a>

<% else %>

    <div class="front-overlay-message-wrap">
      <div class="front-overlay-message-container">
        <div class="front-overlay-message-content">
          <h1 class="front-overlay-message">NoTeLimites contiene gran cantidad de lugares y actividades en México</h1>
          <h2 class="front-overlay-message-sub"> Cuentanos tus intereses y nostros te recomendamos los mejores lugares a donde ir y las mejores cosas que hacer
            en México</h2>
          <%= link_to "Sign up now!", signup_path,
                      class: "btn btn-large btn-primary" %>
        </div>
      </div>
    </div>

    <div class="contenedorpagprincipal">
    </div>
    <div class="footerpagprincipal">
      <div class="container">
          <%= render 'layouts/footer' %>
          <%= debug(params) if Rails.env.development? %>
      </div>
    </div>






<% end %>




