

<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row" style="margin-bottom: 20px">
    <div class="col-md-5">
      <h1 style="color: #090909"><%=	@estado.estado %> </h1>
    </div>
    <div class="col-md-2 " style="padding-top: 40px">
      <%= render 'follow_form' if signed_in? %>
    </div>
    <div class="col-md-4" style="padding-top: 40px">
      <div class="fb-like" data-href="<%=request.original_url%>" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="box_count" data-action="recommend" data-show-faces="true" data-send="false"></div>
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="NTLmx" data-lang="es" data-size="large">Twittear</a>
      <div class="g-plusone" data-annotation="inline" data-width="120"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 ">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="overflow:hidden" >
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
          <div class="inner-item ">
            <img src="https://s3.amazonaws.com/imagenes.notelimites/micrositios/photos/sitios/big/<%= @estado.micrositios.first.photo_file_name %>" width="100%"  alt="<%=@estado.micrositios.first.name %>">
          </div>
            <div class="carousel-caption">
           <h3>   <%=	 @estado.micrositios.first.name %>  </h3>
            </div>
          </div>

          <div class="item">
            <div class="inner-item">
              <img src="https://s3.amazonaws.com/imagenes.notelimites/micrositios/photos/sitios/big/<%= @estado.micrositios.second.photo_file_name %>" width="100%"  alt="<%=@estado.micrositios.first.name %>">
            </div>
            <div class="carousel-caption">
              <h3>   <%= @estado.micrositios.second.name %>  </h3>
            </div>
          </div>

          <div class="item">
            <div class="inner-item">
              <img src="https://s3.amazonaws.com/imagenes.notelimites/micrositios/photos/sitios/big/<%= @estado.micrositios.third.photo_file_name %>" width="100%"  alt="<%=@estado.micrositios.first.name %>">
            </div>
            <div class="carousel-caption">
              <h3>   <%=	 @estado.micrositios.third.name %>  </h3>
            </div>
          </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left glyphicons-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right glyphicons-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    <ul>
     <% @micrositios.each do |p| %>
          <% if p.estado == @estado.slug %>

                  <% if p.photo_file_size? %>
                      <li>
                        <%= link_to p.name, p %>
                        <%= image_tag p.photo.url(:big), class: "img-responsive", alt: "responsive image" %>
                  <% else %>
                      <li>
                        <%= link_to p.name, p %>
                        <img src="https://s3.amazonaws.com/imagenes.notelimites/micrositios/photos/sitios/big/<%= p.photo_file_name %>" class="img-responsive img-thumbnail" alt="Responsive image">
                  <% end %>

          <%	else %>

          <%	end %>
     <% end %>
    </ul>
    </div>
  </div>





    <%= link_to 'Edit', edit_estado_path(@estado) %> |
    <%= link_to 'Back', estados_path %>

</div>