

<p id="notice"><%= notice %></p>

<%= render 'follow_form' if signed_in? %>

<div class="contenedor">



  <section id="slider" class="slider text-center">
    <div class="container">
      <div class="row-fluid">
        <div class="span12">

          <div id="slider-carousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="item active">
                <% @eventos.each do |evento| %>
                    <% if evento.principal == 1 %>
                        <div>
                          <%= link_to image_tag(evento.photo.url(:big)), evento %>
                          <p><%=evento.nombre%></p>
                        </div>
                    <% end %>
                <% end %>


              </div>
              <div class="item">
                <img src="img/macbook-air-1.png" alt="">
              </div>
              <div class="item">
                <img src="img/macbook-air-2.png" alt="">
              </div>
            </div>
            <a class="carousel-control left" href="#slider-carousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#slider-carousel" data-slide="next">&rsaquo;</a>
          </div><!-- /slider-carousel -->

        </div><!-- /span12 -->
      </div><!-- /row-fluid -->
    </div><!-- /container -->
  </section>


  <div class="imagenprinc">
    <div id="slider">

    </div>
  </div>

  <div class="searchestados">
    <%= @estado.descripcion %>
    <%= image_tag(@estado.photo.url(:medium)) %>
    <%= form_tag(@evento, method: "get") do %>
        <%= label_tag(:nombre, "Search for:") %>
        <%= text_field_tag(:nombre) %>
        <%= submit_tag("Search") %>
    <% end %>


  </div>

<div class="contenedoreventoslista">



<ul>
  <% @eventos.each do |evento| %>
      <% if evento.estado == 'Baja California' %>
        <% if evento.nombre.blank?  %>
         <li class="listaeventos">
            <div class="imagenlistaeventos"> <%= link_to image_tag(evento.d10), evento %>  </div>
           <div class="textolistaeventos">
            <div class="nombrelistaeventos"> <%= link_to evento.d2, evento %></div>
            <div class="ubicacionlistaeventos"> <%=  evento.d3 %> </div>
            <div class="descripcionlistaeventos"> <%=  evento.d4 %> </div>
            </div>
         </li>
              <hr>
         <%	 else %>
          <li class="listaeventos">
            <div class="imagenlistaeventos"> <%= link_to image_tag(evento.photo.url(:small)), evento %>  </div>
            <div class="textolistaeventos">
              <div class="nombrelistaeventos"> <%= link_to evento.nombre, evento %></div>
              <div class="ubicacionlistaeventos"> <%=  evento.artista %> </div>
              <div class="descripcionlistaeventos"> <%=  evento.descripcion %> </div>
            </div>
         </li>
        <%	end %>
      <% end %>
  <% end %>
</ul>




</div>






<%= link_to 'Edit', edit_estado_path(@estado) %> |
<%= link_to 'Back', estados_path %>

</div>