<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=182819485154177";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
    (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



<header class="navbar navbar-fixed-top navbar-inverse">


  <div class="navbar-inner">

    <div class="container">
      <% if signed_in? %>
      <%= link_to image_tag("LogoNTL.png"), root_path, id: "logo" %>
      <%	 else %>
      <%= link_to image_tag("LogoNTL.png"), root_path, id: "logolog" %>
      <%	 end %>
      <nav>
        <ul class="nav pull-right">


          <% if signed_in? %>
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Users", users_path %></li>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                   <%	 if current_user.name? %>
                     <%=  current_user.name %> <b class="caret"></b>
                   <%	 else %>
                      <%=  current_user.email %> <b class="caret"></b>

                   <%	 end %>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Settings", edit_user_registration_path(current_user) %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Sign out",  destroy_user_session_path, method: "delete" %>
                  </li>
                </ul>
              </li>
          <% else %>
            <div class= "btn btn-large stretchy">
              <li><%= link_to "Explora", new_user_session_path %></li>
            </div>
          <% end %>
        </ul>
      </nav>

    </div>

  </div>
  <% if signed_in? %>
  <% else %>
  <div class="reservaviaje" ><%= link_to  image_tag("reserva_tu_viaje.png"), 'http://viajes.notelimites.com/Hoteles/Lista?af=NOTELIMITES&ds=123'  %>   </div>
  <% end %>
</header>